%%-*- mode: erlang -*-
{deps, [
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}},
    {gen_smtp, ".*", {git, "git://github.com/Textalk/gen_smtp.git", {tag, "0.9.1"}}},
    {rabbit_common, ".*", {git, "git://github.com/jbrisbin/rabbit_common.git", {tag, "rabbitmq-3.4.0-community"}}},
    {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-3.4.0-community"}}}
]}.
{lib_dirs, ["deps"]}.
{cover_enabled, true}.
